@import url("../fonts/Lato/Lato.css");
@import url("../fonts/PlayfairDisplay/PlayfairDisplay.css");
*, *:before, *:after {
  box-sizing: border-box;
}

html, body, div, span, object, iframe, figure, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, code, em, img, small, strike, strong, sub, sup, tt, b, u, i, ol, ul, li, fieldset, form, label, table, caption, tbody, tfoot, thead, tr, th, td, main, canvas, embed, footer, header, nav, section, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  text-size-adjust: none;
}

footer, header, nav, section, main {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  -webkit-appearance: none;
  border-radius: 0;
}

.regular-title-text {
  font-family: "Playfair Display", serif;
  font-weight: 400;
  color: #262A3F;
  display: inline-block;
  font-size: 40px;
  line-height: 48px;
}
.regular-title-text .italic {
  font-style: italic;
  color: #85BBB1;
}

.regular-text {
  font-family: "Lato", sans-serif;
  color: #262A3F;
  display: inline-block;
  font-size: 18px;
  font-weight: 300;
  line-height: 26px;
}

.button-link {
  font-family: "Lato", sans-serif;
  display: block;
  font-weight: 700;
  font-size: 20px;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  cursor: pointer;
  color: #F1897B;
  width: 275px;
  height: 60px;
  text-align: center;
  line-height: 58px;
  border: 1px solid #e8d4d4;
}
.button-link:hover {
  color: #E54F3A;
  border: 1px solid #E54F3A;
}

.body {
  width: 100vw;
  background: url("../images/bg.png") top center no-repeat;
  background-size: cover;
  margin: 0 auto;
  padding-top: 30px;
}

a {
  text-decoration: none;
}

.header-wrapper {
  width: 100%;
  background: linear-gradient(270deg, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0.244636) 24.1%, rgba(255, 255, 255, 0) 47.19%), rgba(255, 255, 255, 0.02);
  backdrop-filter: blur(10px);
  display: flex;
  justify-content: center;
  height: 80px;
  margin-bottom: 150px;
}

.header,
.content-holder {
  width: 100%;
  max-width: 1440px;
  padding: 0 15px;
  margin: 0 auto;
}

.header {
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__menu {
  width: 60%;
  display: flex;
  justify-content: space-between;
}
.header__menu-link {
  color: red;
}

.content-holder {
  display: flex;
  flex-direction: column;
}
.content-holder__intro-text {
  width: 48%;
  max-width: 525px;
  min-height: 305px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 150px;
}
.content-holder__intro-text .regular-title-text {
  font-size: 44px;
  line-height: 52px;
}
.content-holder__statistic {
  width: 100%;
  height: 670px;
  background: url("../images/statistic-image_intro_bg.png") left no-repeat;
  display: flex;
  justify-content: flex-end;
  padding: 25px 0;
  margin-bottom: 125px;
}
.content-holder__statistic-text-holder {
  display: flex;
  width: 960px;
  background-color: rgba(255, 255, 255, 0.8);
}
.content-holder__benefits {
  width: 100%;
  height: 620px;
  display: flex;
  flex-wrap: wrap;
  gap: 45px;
  margin-bottom: 125px;
}
.content-holder__benefits-item {
  width: 47%;
  max-width: 680px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 15px;
  border-top: 1px solid #E4E4E4;
}
.content-holder__benefits-item .regular-title-text {
  max-width: 480px;
}

.statistic-text-holder__left-column, .statistic-text-holder__left-column_numbers, .statistic-text-holder__right-column {
  display: flex;
  flex-direction: column;
}
.statistic-text-holder__left-column {
  width: 45%;
  max-width: 435px;
  justify-content: space-around;
}
.statistic-text-holder__left-column_numbers {
  align-items: center;
  gap: 15px;
}
.statistic-text-holder__big-numbers {
  font-family: "Playfair Display", serif;
  font-weight: 400;
  color: #262A3F;
  font-size: 68px;
  line-height: 72px;
}
.statistic-text-holder__big-numbers .usd-simbol {
  color: #E4E4E4;
  font-size: 42px;
  line-height: 50px;
}
.statistic-text-holder__right-column {
  width: 55%;
  max-width: 525px;
  gap: 35px;
  justify-content: center;
}

/*# sourceMappingURL=style.css.map */
